@{
    ViewBag.Title = "Registrar Plan";
}

<fieldset>
    <legend>Registrar Plan</legend>
</fieldset>

<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">Datos del Plan</div>
            <div class="panel-body">
                aaa
            </div>
        </div>
    </div>
</div>
